/* dimension */
.w_80 {
  width: 80px;
}
.w_200 {
  width: 200px;
}
.first {
  position: relative;
}
.my-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
/* background image */
.ph_banner {
  background-size: cover;
  background-position: center;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
.hero {
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
}
img {
  width: 100%;
  object-fit: cover;
}
/* colors */
.white {
  color: white;
}
.my_blue {
  color: blue;
}
.bg_light {
  background-color: white;
}
.bg_footer {
  background-color: #00439b;
}
.bg_dark_blue {
  background-color: #161c3b;
}
.bg_gray {
  background-color: #999999;
}
.bg_l_gray {
  background-color: lightgray;
}

/* HOVER */
.btn:hover {
  outline-width: 2px;
  outline-offset: 2px;
}

.btn-primary {
  outline: 0 var(--bs-primary) solid;
}

.btn-dark {
  outline: 0 var(--bs-secondary) solid;
}

.btn-danger {
  outline: 0 var(--bs-danger) solid;
}

.btn-light {
  outline: 0 var(--bs-light) solid;
}
/* botton hover */
.blue_bottom {
  border-bottom: 2px solid transparent;
}
.blue_bottom:hover {
  border-bottom: 2px solid #0d6efd;
}
